<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Cahier de test{% endblock %}</title>
        {% block stylesheets %}
            <link type="text/css" rel="stylesheet" href="{{ asset("css/bootstrap.min.css") }}" />
            <link type="text/css" rel="stylesheet" href="{{ asset("fa/css/all.css") }}" />
            <link type="text/css" rel="stylesheet" href="{{ asset("css/style.css") }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="small">
        <div class="container-fluid">
            <div class="row">
                <div class="col-1 p-0 position-fixed h-100 bg-anthracite{% if app.request.attributes.get("_route") == "fos_user_security_login" %} d-none{% endif %}">
                    <ul class="nav flex-column text-center">
                        <h1 class="nav-item">
                            <i class="fas fa-swatchbook"></i>
                        </h1>
                        <li class="nav-item">
                            <a href="{{ path("utilisateur_liste") }}" class="nav-link{% if app.request.attributes.get("_route") == "utilisateur_liste" %} active{% endif %}">
                                <i class="fas fa-users"></i>
                                Utilisateurs
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path("homepage") }}" class="nav-link{% if app.request.attributes.get("_route") in ["homepage", "index-cahier"] %} active{% endif %}">
                                <i class="fas fa-code"></i>
                                Projets
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path("index-campagne") }}" class="nav-link{% if app.request.attributes.get("_route") == "index-campagne" %} active{% endif %}">
                                <i class="fab fa-cloudsmith"></i>
                                Campagnes
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path("index-recette") }}" class="nav-link{% if app.request.attributes.get("_route") == "index-recette" %} active{% endif %}">
                                <i class="fas fa-tasks"></i>
                                Recettes
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col{% if app.request.attributes.get("_route") != "fos_user_security_login" %}-11 offset-1 pl-0{% endif %}">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
        {% block javascripts %}
            <script type="text/javascript" language="javascript" src="{{ asset("js/jquery-3.3.1.slim.min.js") }}"></script>
            <script type="text/javascript" language="javascript" src="{{ asset("js/popper.min.js") }}"></script>
            <script type="text/javascript" language="javascript" src="{{ asset("js/bootstrap.min.js") }}"></script>
        {% endblock %}
    </body>
</html>
